@using Mantis.Domain.Policies.Models
@using Mantis.Domain.Policies.Services
@using Mantis.Domain.Attachment.Services
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.InPlaceEditor
@inject PolicyService PolicyService
@inject AttachmentService AttachmentService
@rendermode InteractiveServer

@if (Policy is null || Policy.GeneralLiabilityCoverage is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FluentGrid>
        <FluentGridItem xs="3">
            <span class="pol-section-title">policy limits</span><br />
            <span class="pol-name">Each Occurrence</span>
            <span class="pol-value">
                <SfInPlaceEditor @bind-Value="@GeneralLiabilityCoverage.EachOccurrence" Type="Syncfusion.Blazor.InPlaceEditor.InputType.Numeric" TValue="int?" EditableOn="EditableType.EditIconClick" ShowButtons="false" EmptyText="No Coverage">
                    <EditorComponent>
                        <SfNumericTextBox Format="c0" @bind-Value="@GeneralLiabilityCoverage.EachOccurrence"></SfNumericTextBox>
                    </EditorComponent>
                    <InPlaceEditorEvents OnActionBegin="@(args => UpdateCoverageNow(GeneralLiabilityCoverage))" TValue="int?"></InPlaceEditorEvents>
                </SfInPlaceEditor>
            </span><br />


            <span class="pol-name">Damage to Premises</span>
            <span class="pol-value">
                <SfInPlaceEditor @bind-Value="@GeneralLiabilityCoverage.DamageToPremises" Type="Syncfusion.Blazor.InPlaceEditor.InputType.Numeric" TValue="int?" EditableOn="EditableType.EditIconClick" ShowButtons="false" EmptyText="No Coverage">
                    <EditorComponent>
                        <SfNumericTextBox Format="c0" @bind-Value="@GeneralLiabilityCoverage.DamageToPremises"></SfNumericTextBox>
                    </EditorComponent>
                    <InPlaceEditorEvents OnActionBegin="@(args => UpdateCoverageNow(GeneralLiabilityCoverage))" TValue="int?"></InPlaceEditorEvents>
                </SfInPlaceEditor>
            </span><br />


            <span class="pol-name">Medical Expenses</span>
            <span class="pol-value">
                <SfInPlaceEditor @bind-Value="@GeneralLiabilityCoverage.MedicalExpenses" Type="Syncfusion.Blazor.InPlaceEditor.InputType.Numeric" TValue="int?" EditableOn="EditableType.EditIconClick" ShowButtons="false" EmptyText="No Coverage">
                    <EditorComponent>
                        <SfNumericTextBox Format="c0" @bind-Value="@GeneralLiabilityCoverage.MedicalExpenses"></SfNumericTextBox>
                    </EditorComponent>
                    <InPlaceEditorEvents OnActionBegin="@(args => UpdateCoverageNow(GeneralLiabilityCoverage))" TValue="int?"></InPlaceEditorEvents>
                </SfInPlaceEditor>
            </span><br />

            <span class="pol-name">Personal Injury</span>
            <span class="pol-value">
                <SfInPlaceEditor @bind-Value="@GeneralLiabilityCoverage.PersonalInjury" Type="Syncfusion.Blazor.InPlaceEditor.InputType.Numeric" TValue="int?" EditableOn="EditableType.EditIconClick" ShowButtons="false" EmptyText="No Coverage">
                    <EditorComponent>
                        <SfNumericTextBox Format="c0" @bind-Value="@GeneralLiabilityCoverage.PersonalInjury"></SfNumericTextBox>
                    </EditorComponent>
                    <InPlaceEditorEvents OnActionBegin="@(args => UpdateCoverageNow(GeneralLiabilityCoverage))" TValue="int?"></InPlaceEditorEvents>
                </SfInPlaceEditor>
            </span><br />

            <span class="pol-name">General Aggregate</span>
            <span class="pol-value">
                <SfInPlaceEditor @bind-Value="@GeneralLiabilityCoverage.GeneralAggregate" Type="Syncfusion.Blazor.InPlaceEditor.InputType.Numeric" TValue="int?" EditableOn="EditableType.EditIconClick" ShowButtons="false" EmptyText="No Coverage">
                    <EditorComponent>
                        <SfNumericTextBox Format="c0" @bind-Value="@GeneralLiabilityCoverage.GeneralAggregate"></SfNumericTextBox>
                    </EditorComponent>
                    <InPlaceEditorEvents OnActionBegin="@(args => UpdateCoverageNow(GeneralLiabilityCoverage))" TValue="int?"></InPlaceEditorEvents>
                </SfInPlaceEditor>
            </span><br />

            <span class="pol-name">Products Aggregate</span>
            <span class="pol-value">
                <SfInPlaceEditor @bind-Value="@GeneralLiabilityCoverage.ProductsAggregate" Type="Syncfusion.Blazor.InPlaceEditor.InputType.Numeric" TValue="int?" EditableOn="EditableType.EditIconClick" ShowButtons="false" EmptyText="No Coverage">
                    <EditorComponent>
                        <SfNumericTextBox Format="c0" @bind-Value="@GeneralLiabilityCoverage.ProductsAggregate"></SfNumericTextBox>
                    </EditorComponent>
                    <InPlaceEditorEvents OnActionBegin="@(args => UpdateCoverageNow(GeneralLiabilityCoverage))" TValue="int?"></InPlaceEditorEvents>
                </SfInPlaceEditor>
            </span><br />

            <span class="pol-name">Custom Name</span>
            <span class="pol-value">
                <SfInPlaceEditor @bind-Value="@GeneralLiabilityCoverage.AdditionalCoverageName" Type="Syncfusion.Blazor.InPlaceEditor.InputType.Text" TValue="string" EditableOn="EditableType.EditIconClick" ShowButtons="false" EmptyText="No Coverage">
                    <EditorComponent>
                        <SfTextBox @bind-Value="@GeneralLiabilityCoverage.AdditionalCoverageName"></SfTextBox>
                    </EditorComponent>
                    <InPlaceEditorEvents OnActionBegin="@(args => UpdateCoverageNow(GeneralLiabilityCoverage))" TValue="string"></InPlaceEditorEvents>
                </SfInPlaceEditor>
            </span><br />

            <span class="pol-name">Custom Limit</span>
            <span class="pol-value">
                <SfInPlaceEditor @bind-Value="@GeneralLiabilityCoverage.AdditionalCoverageLimit" Type="Syncfusion.Blazor.InPlaceEditor.InputType.Numeric" TValue="int?" EditableOn="EditableType.EditIconClick" ShowButtons="false" EmptyText="No Coverage">
                    <EditorComponent>
                        <SfNumericTextBox Format="c0" @bind-Value="@GeneralLiabilityCoverage.AdditionalCoverageLimit"></SfNumericTextBox>
                    </EditorComponent>
                    <InPlaceEditorEvents OnActionBegin="@(args => UpdateCoverageNow(GeneralLiabilityCoverage))" TValue="int?"></InPlaceEditorEvents>
                </SfInPlaceEditor>
            </span><br />
        </FluentGridItem>
        <FluentGridItem xs="3">
            <span class="pol-section-title">Coverage Type</span><br />
            <span class="pol-name">Claims Made</span>
            <span class="pol-value">
                <SfCheckBox @bind-Checked="@GeneralLiabilityCoverage.ClaimsMade" ValueChange="@(async (Syncfusion.Blazor.Buttons.ChangeEventArgs<bool?> args) => await UpdateCoverageBool(args))"></SfCheckBox>
            </span><br />

            <span class="pol-name">Per Occurrence</span>
            <span class="pol-value">
                <SfCheckBox @bind-Checked="@GeneralLiabilityCoverage.Occurence" ValueChange="@(async (Syncfusion.Blazor.Buttons.ChangeEventArgs<bool?> args) => await UpdateCoverageBool(args))"></SfCheckBox>
            </span><br />

            <span class="pol-name">Aggregate Per</span>
            <span class="pol-value">
                <SfInPlaceEditor @bind-Value="@GeneralLiabilityCoverage.AggregateAppliesPer" Type="Syncfusion.Blazor.InPlaceEditor.InputType.Numeric" TValue="int?" EditableOn="EditableType.EditIconClick" ShowButtons="false" EmptyText="No Coverage">
                    <EditorComponent>
                        <SfNumericTextBox Format="c0" @bind-Value="@GeneralLiabilityCoverage.AggregateAppliesPer"></SfNumericTextBox>
                    </EditorComponent>
                    <InPlaceEditorEvents OnActionBegin="@(args => UpdateCoverageNow(GeneralLiabilityCoverage))" TValue="int?"></InPlaceEditorEvents>
                </SfInPlaceEditor>
            </span>
        </FluentGridItem>
        <FluentGridItem xs="3">

            <span class="pol-section-title">Blanket Additional Insured</span><br />

            <span class="pol-name">Included</span>
            <span class="pol-value">
                <SfCheckBox @bind-Checked="@GeneralLiabilityCoverage.ClaimsMade" ValueChange="@(async (Syncfusion.Blazor.Buttons.ChangeEventArgs<bool?> args) => await UpdateCoverageBool(args))"></SfCheckBox>
            </span><br />

            <span class="pol-name">Form Number</span>
            <span class="pol-value">
                <SfInPlaceEditor @bind-Value="@GeneralLiabilityCoverage.AdditionalInsuredFormNumber" Type="Syncfusion.Blazor.InPlaceEditor.InputType.Numeric" TValue="string" EditableOn="EditableType.EditIconClick" ShowButtons="false" EmptyText="No Coverage">
                    <EditorComponent>
                        <SfTextBox @bind-Value="@GeneralLiabilityCoverage.AdditionalInsuredFormNumber"></SfTextBox>
                    </EditorComponent>
                    <InPlaceEditorEvents OnActionBegin="@(args => UpdateCoverageNow(GeneralLiabilityCoverage))" TValue="string"></InPlaceEditorEvents>
                </SfInPlaceEditor>
            </span><br />
            <span class="pol-name">Attachment File</span>
            <span class="pol-value drop-area-wrap">
                <SfUploader DropArea=".drop-area-wrap" AllowedExtensions="@ExtensionAllowed">
                    <UploaderAsyncSettings SaveUrl="https://mantismetro.azurewebsites.net/api/FileUploader/Save" RemoveUrl="https://mantismetro.azurewebsites.net/api/FileUploader/Remove"></UploaderAsyncSettings>
                    <UploaderEvents OnRemove="@OnFileRemove" FileSelected="@AfterSelect" OnFailure="@OnFailureHandler" OnActionComplete="@OnActionCompleteHandler"></UploaderEvents>
                </SfUploader>
            </span><br />



            <div style="width:100%; height:1px; background-color:#ccc; margin-top:10px; margin-bottom:10px;"></div>

            <span class="pol-section-title">Waiver of Subrogration</span><br />

            <span class="pol-name">Included</span>
            <span class="pol-value">
                <SfCheckBox @bind-Checked="@GeneralLiabilityCoverage.WaiverOfSub" ValueChange="@(async (Syncfusion.Blazor.Buttons.ChangeEventArgs<bool?> args) => await UpdateCoverageBool(args))"></SfCheckBox>
            </span><br />

            <span class="pol-name">Attachment File</span>
            <span class="pol-value drop-area-wrap">
                <SfUploader AutoUpload="true" AllowedExtensions=".pdf, .txt">
                    <UploaderEvents ValueChange="@OnChange"></UploaderEvents>
                </SfUploader>
            </span><br />
        </FluentGridItem>
    </FluentGrid>
    <div style="border:1px solid #f00">@DebugWording</div>
        
}
@code {
    [Parameter]
    public Policy Policy { get; set; }

    [Parameter]
    public GeneralLiabilityCoverage GeneralLiabilityCoverage { get; set; }

    public string DebugWording { get; set; } = "Load";

    private async Task UpdateCoverageNow(GeneralLiabilityCoverage glcoverage)
    {
        await PolicyService.UpdatePolicyContextModelAsync(Policy);
    }

    private async Task OnChange(UploadChangeEventArgs args)
    {
        string myfilename;
        try
        {
            foreach (var file in args.Files)
            {
                var path = @"wwwroot/uploads/" + file.FileInfo.Name;
                myfilename = file.FileInfo.Name;
                FileStream filestream = new FileStream(path, FileMode.Create, FileAccess.Write);
                await file.File.OpenReadStream(long.MaxValue).CopyToAsync(filestream);
                filestream.Close();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        finally 
        {
            var filename = myfilename;
            if (!string.IsNullOrEmpty(filename))
            {
                await AttachmentService.AddPolicyAttachment(filename, GeneralLiabilityCoverage.GeneralLiabilityCoverageId, "GLWaiverOfSub");
            }
        }
    }

    private async Task UpdateCoverageBool(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool?> args)
    {
        // Optionally, you can use 'args.Value' here if needed.
        await PolicyService.UpdatePolicyContextModelAsync(Policy);
    }
    private string ExtensionAllowed { get; set; } = ".pdf, .txt, .png";
    private void AfterSelect(SelectedEventArgs args)
    {
        string[] Extension = { "pdf", "txt", "png" };
        if (Extension.ToList().IndexOf(args.FilesData[0].Type) < 0)
        {
            args.Cancel = true;
        }
    }
    private void OnFileRemove(RemovingEventArgs args)
    {
        args.PostRawFile = false;
    }
    private void OnFailureHandler(Syncfusion.Blazor.Inputs.FailureEventArgs args)
    {
        Console.WriteLine("UPLOAD FAILURE");
        DebugWording+= "UPLOAD FAILURE";
        DebugWording += "-------";
        DebugWording += args.ToString();
        Console.WriteLine(args.ToString());
    }

    private void OnActionCompleteHandler(Syncfusion.Blazor.Inputs.ActionCompleteEventArgs args)
    {
        Console.WriteLine("UPLOAD COMPLETE");
        DebugWording += "UPLOAD COMPLETE.";
        DebugWording += args.ToString();
        Console.WriteLine(args.ToString());
        Console.WriteLine(args.FileData.ToString());

        //Save file name
    }
}
