@page "/Policies/Products"
@using Mantis.Domain.Shared
@using Mantis.Domain.Shared.Helpers
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor
@inject DataHelper DataHelper
@rendermode InteractiveServer

<SfBreadcrumb>
    <BreadcrumbItems>
        <BreadcrumbItem Text="Policies" Url="/Policies" />
        <BreadcrumbItem Text="Products" />
    </BreadcrumbItems>
</SfBreadcrumb>

<_toolbar />

<div class="page-content-datagrid">
    <SfGrid @ref="Grid" DataSource="@GridData" AllowPaging="true" AllowSorting="true" ShowColumnChooser="true"
            Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Search", "Cancel", "ColumnChooser" })" RowHeight="30">
        <GridEvents OnActionFailure="@ActionFailure" TValue="Product"></GridEvents>
        <SfDataManager Url="@getUrl" InsertUrl="@insertUrl" UpdateUrl="@updateUrl" RemoveUrl="@deleteUrl" Adaptor="Adaptors.UrlAdaptor"></SfDataManager>
        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog"></GridEditSettings>
        <GridPageSettings PageSize="20"></GridPageSettings>
        <GridColumns>
            <GridColumn Field=@nameof(Product.ProductId) HeaderText="Id" ValidationRules="@(new ValidationRules{ Required= true })" IsPrimaryKey="true" IsIdentity="true"></GridColumn>
            <GridColumn Field=@nameof(Product.LineName) HeaderText="Name" Width="400"></GridColumn>
            <GridColumn Field=@nameof(Product.LineNickname) HeaderText="Nickname"></GridColumn>
            <GridColumn Field=@nameof(Product.LineCode) HeaderText="Code"></GridColumn>
            <GridColumn Field=@nameof(Product.Description) HeaderText="Description"></GridColumn>
            <GridColumn Field=@nameof(Product.ProductModel) HeaderText="Model"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>

@code {
    SfGrid<Product> Grid { get; set; }
    SfDataManager DataManager { get; set; }
    public List<Product> GridData { get; set; }

    // URLs for the DataManager
    private string getUrl;
    private string insertUrl;
    private string updateUrl;
    private string deleteUrl;

    protected override void OnInitialized()
    {
        // Construct the URLs dynamically using the base URL from configuration
        var baseUrl = DataHelper.GetBaseUrl();
        Console.WriteLine($"Base URL: {baseUrl}");
        getUrl = $"{baseUrl}/api/Product";
        insertUrl = $"{baseUrl}/api/Product/Insert";
        updateUrl = $"{baseUrl}/api/Product/Update";
        deleteUrl = $"{baseUrl}/api/Product/Delete";
    }

    public void ActionFailure(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {
        Console.WriteLine("DataGrid ActionFailure. Drumping args.");
        if (args.Error != null)
        {
            Console.WriteLine($"Exception Message: {args.Error.Message}");
            Console.WriteLine($"Stack Trace: {args.Error.StackTrace}");
            Console.WriteLine($"RequestType: {args.Error.GetType}");
            Console.WriteLine($"RequestType: {args.Error.Data}");
        }
    }
}
