@implements IDisposable
@using Microsoft.FluentUI.AspNetCore.Components
@inject NavigationManager NavigationManager

<input type="checkbox" title="Navigation menu" class="navbar-toggler" style="display:none" />

<div class="sfnav @(GetNavItemClass("Home"))">
    <div class="nb-blueline@(GetNavItemClass("Home"))"></div>
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.Prefix" title="Home">
        <FluentIcon Value="@(new Icons.Filled.Size24.Home())" Class="@GetIconClass("Home")" />
    </NavLink>
</div>
<br />

<div class="sfnav @(GetNavItemClass("Clients"))">
    <div class="nb-blueline@(GetNavItemClass("Clients"))"></div>
    <NavLink class="nav-link" href="Clients/List" Match="NavLinkMatch.Prefix" title="Clients">
        <FluentIcon Value="@(new Icons.Regular.Size24.Briefcase())" Class="@GetIconClass("Clients")" />
    </NavLink>
</div>
<br />

<div class="sfnav @(GetNavItemClass("People"))">
    <div class="nb-blueline@(GetNavItemClass("People"))"></div>
    <NavLink class="nav-link" href="People" Match="NavLinkMatch.Prefix" title="People">
        <FluentIcon Value="@(new Icons.Regular.Size24.People())" Class="@GetIconClass("People")" />
    </NavLink>
</div>
<br />

<div class="sfnav @(GetNavItemClass("Policies"))">
    <div class="nb-blueline@(GetNavItemClass("Policies"))"></div>
    <NavLink class="nav-link" href="Policies" Match="NavLinkMatch.Prefix" title="Policies">
        <FluentIcon Value="@(new Icons.Regular.Size24.DocumentMultiple())" Class="@GetIconClass("Policies")" />
    </NavLink>
</div>
<br />

<div class="sfnav @(GetNavItemClass("Carriers"))">
    <div class="nb-blueline@(GetNavItemClass("Carriers"))"></div>
    <NavLink class="nav-link" href="Carriers" Match="NavLinkMatch.Prefix" title="Carriers">
        <FluentIcon Value="@(new Icons.Regular.Size24.BuildingRetailShield())" Class="@GetIconClass("Carriers")" />
    </NavLink>
</div>
<br />

<div class="sfnav @(GetNavItemClass("Locations"))">
    <div class="nb-blueline@(GetNavItemClass("Locations"))"></div>
    <NavLink class="nav-link" href="Locations" Match="NavLinkMatch.Prefix" title="Locations">
        <FluentIcon Value="@(new Icons.Regular.Size24.Location())" Class="@GetIconClass("Locations")" />
    </NavLink>
</div>
<br />

<div class="sfnav @(GetNavItemClass("Renewals"))">
    <div class="nb-blueline@(GetNavItemClass("Renewals"))"></div>
    <NavLink class="nav-link" href="Renewals" Match="NavLinkMatch.Prefix" title="Renewals">
        <FluentIcon Value="@(new Icons.Regular.Size24.ApprovalsApp())" Class="@GetIconClass("Renewals")" />
    </NavLink>
</div>
<br />



<style>
:root .nb-bluelinenb-active {
    width: 2px;
    height: 37px;
    float: left;
    position: relative;
    top: -6px;
    left: 4px;
    background-color: #036ac4 !important;
}

:root .nb-bluelinenb-inactive {
    width: 2px;
    height: 37px;
    float: left;
    position: relative;
    top: -6px;
    left: 4px;
    background-color: #5e5e5e00 !important;
}
:root .inactive-icon {
        fill: #808080 !important;
}

:root .nav-link {
    padding: 0px !important;
    margin-left: 11px;
    margin-bottom:2px;
}
</style>
@code {
    private string? currentUrl;
    private string myicon = "Home";

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    private string GetNavItemClass(string href)
    {
        if (string.IsNullOrEmpty(currentUrl) && href == "/")
        {
            return "";
        }
        else
        {
            if (currentUrl != null)
            {
                if (currentUrl.Contains(href, StringComparison.OrdinalIgnoreCase) || (currentUrl == "" && href == "Home"))
                {
                    return "nb-active";
                }
                else
                {
                    return "nb-inactive";
                }
            }
            else
            {
                return "nb-inactive";
            }
        }
    }

    private string GetIconClass(string href)
    {
        if (string.IsNullOrEmpty(currentUrl) && href == "")
        {
            return "";
        }
        else
        {
            if (currentUrl != null)
            {
                if (currentUrl.Contains(href, StringComparison.OrdinalIgnoreCase) || (currentUrl == "" && href == "Home"))
                {
                    return "active-icon";
                }
                else
                {
                    return "inactive-icon";
                }
            }
            else
            {
                return "inactive-icon";
            }
        }
    }


    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

@* 
<style>
    .custom-icon-color {
        color: #0078D4; /* Your desired default color */
    }
    .e-icons.e-medium {
        font-size: 20px !important;
    }
    .nav-link {
        position: relative;
        color:#000;
        padding: 0px;
    }

        .nav-link .selected-nav-item {
            color: #000;
        }

        .nav-link:hover::after {
            content: attr(title);
            position: absolute;
            left: 100%;
            margin-left: 8px;
            background: #333;
            color: #fff;
            padding: 4px 8px;
            border-radius: 4px;
            white-space: nowrap;
        }
</style>
 *@