@namespace Surefire.Components.Shared
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Syncfusion.Blazor.Buttons
@using Microsoft.AspNetCore.Components.Routing
@using Surefire.Domain.Contacts.Models
@using Surefire.Domain.Shared.Helpers
@inject NavigationManager NavigationManager

<div>
    @if (Contacts == null)
    {
        <p><em>Loading...</em></p>
    }
    else if (!Contacts.Any())
    {
        <p>No contacts found for this parent.</p>
    }
    else
    {
        foreach (var item in Contacts)
        {
            <div class="m-contact">
                <a href="/Contacts/Edit/@(item.ContactId)">
                    <span class="e-btnhover e-icons e-pencil-icon" style="float:right"></span>
                </a>
                <span class="m-name">@item.FirstName @item.LastName</span><br />
                @if (item.Title != null)
                {
                    <span class="m-title">@item.Title</span><br />
                }
                @if (item.Email != null)
                {
                    <span class="m-email">@item.Email</span><br />
                }
                @if (item.Phone != null)
                {
                    <span class="m-phone">Phone: @StringHelper.FormatPhoneNumber(item.Phone)</span><br />
                }
                @if (item.Mobile != null)
                {
                    <span class="m-phone">Mobile: @StringHelper.FormatPhoneNumber(item.Mobile)</span><br />
                }

                @if (item.Notes != null)
                {
                    <span class="m-phone">Notes: @item.Notes</span><br />
                }
                <br>
                <a href="javascript:void(0);" @onclick="() => RemoveContact(item)">[Remove]</a> <!-- Pass the contact to be removed -->
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public ICollection<Contact> Contacts { get; set; }  // List of contacts passed from the parent component

    [Parameter]
    public string ParentType { get; set; }

    [Parameter]
    public int ParentId { get; set; }

    private void NewContact()
    {
        NavigationManager.NavigateTo($"/Contacts/Create?ParentType={ParentType}&ParentId={ParentId}");
    }

    private void RemoveContact(Contact contact)
    {
        Contacts.Remove(contact);  // Remove the selected contact from the list
        StateHasChanged();         // Refresh the UI after removal
    }

    private void Dispose()
    {
        Contacts = null;
    }

}