@namespace Mantis.Components.Pages.Carriers
@using Microsoft.FluentUI.AspNetCore.Components
@using Syncfusion.Blazor.Buttons
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager NavigationManager

<div class="page-toolbar">
    <SfButton @onclick="@((args) => CreateCarrier())" CssClass="e-primary" IconCss="e-icons e-plus-icon">New Carrier</SfButton>

    <span class="sf-verthr"></span>

    <span class="browsebtn @BrowseButtonClass">
        <NavLink class="toolbar-link" href="Carriers" Match="NavLinkMatch.Prefix"  disabled="@IsBrowseButtonDisabled">
            <FluentIcon Value="@(new Icons.Regular.Size24.Book())" />
            <span class="toolbar-text">Browse</span>
        </NavLink>
    </span>

    @if (CarrierId != 0)
    {
        <span class="sf-verthr2"></span>
        <span class="toolbar__fluentui-selectedname">@CarrierName</span>

        <NavLink class="toolbar-link" href="@("Carriers/Edit/" + CarrierId)" Match="NavLinkMatch.Prefix">
            <FluentIcon Value="@(new Icons.Regular.Size24.PenSparkle())" />
            <span class="toolbar-text">Edit</span>
        </NavLink>

        <NavLink class="toolbar-link" href="@("Carriers/Details/" + CarrierId)" Match="NavLinkMatch.Prefix">
            <FluentIcon Value="@(new Icons.Regular.Size24.Eye())" />
            <span class="toolbar-text">View</span>
        </NavLink>
    }

</div>

<style>
    .e-plus-icon::before {
        content: '\e805';
    }
    .disabled-button {
        opacity: 0.5;
        pointer-events: none; /* Ensures it's not clickable */
    }

    .browsebtn {
        position:relative;
        top:3px;
    }
</style>

@code {
    [Parameter]
    public int CarrierId { get; set; }


    [Parameter]
    public string CarrierName { get; set; } = "";

    private string BrowseButtonClass => IsBrowseButtonDisabled ? "disabled-button" : "";
    private bool IsBrowseButtonDisabled => NavigationManager.Uri.EndsWith("/Carriers", StringComparison.OrdinalIgnoreCase);

    private void CreateCarrier()
    {
        NavigationManager.NavigateTo("/Carriers/Create");
    }
}
