@using Mantis.Domain.Policies.Models
@using Mantis.Domain.Policies.Services
@using Mantis.Domain.Clients.Models
@using Mantis.Domain.Forms.Models
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.InPlaceEditor
@inject PolicyService PolicyService
@rendermode InteractiveServer

@if (client is null && client.Certificates is null)
{
    <p><em>No Certificates Found...</em></p>
}
else
{
    <table class="table" width="100%">
        <thead>
            <tr style="text-align:left;">
                <th>ID</th>
                <th>Holder Name</th>
                <th>Desc</th>
                <th>Created</th>
                <th>Modified</th>
            </tr>
        </thead>
        <tbody>

        @foreach(var item in client.Certificates)
        {
            <tr>
                <td>@item.CertificateId</td>
                <td><a href="/Forms/Certificate/@item.CertificateId">@item.HolderName</a></td>
                    <td>@(item.ProjectName?.Length > 100 ? item.ProjectName.Substring(0, 100) : item.ProjectName)</td>
                <td>@item.DateCreated?.ToString("MM/dd/yyyy") - @item.CreatedBy.FirstName</td>
                <td>@item.DateModified?.ToString("MM/dd/yyyy") - @item.ModifiedBy.FirstName</td>
            </tr>
        }
        </tbody>
    </table>
}
@code {
    [Parameter]
    public Client client { get; set; }

}
