@namespace Mantis.Components.Pages.Clients
@using Microsoft.FluentUI.AspNetCore.Components
@using Syncfusion.Blazor.Buttons
@using Microsoft.AspNetCore.Components.Routing
@using Mantis.Domain.Shared
@inject NavigationService NavigationService
@inject NavigationManager NavigationManager

<div class="page-toolbar">
    <SfButton @onclick="@((args) => NavigateToRenewalCreate())" CssClass="e-primary" IconCss="e-icons e-plus-icon">New Client</SfButton>
    
    <span class="sf-verthr"></span>

    <NavLink class="toolbar-link" href="@NavigationService.GetLastClientPage()" Match="NavLinkMatch.Prefix">
        <FluentIcon Value="@(new Icons.Regular.Size24.Book())" />
        <span class="toolbar-text">Browse</span>
    </NavLink>

    <NavLink class="toolbar-link" href="/Clients" Match="NavLinkMatch.Prefix">
        <FluentIcon Value="@(new Icons.Regular.Size24.Database())" />
        <span class="toolbar-text">Data</span>
    </NavLink>

    <span class="sf-verthr2"></span>

    @if (ClientId != 0)
    {
        <NavLink class="toolbar-link" href="@("Clients/Edit/" + ClientId)" Match="NavLinkMatch.Prefix">
            <FluentIcon Value="@(new Icons.Regular.Size24.PenSparkle())" />
            <span class="toolbar-text">Edit</span>
        </NavLink>
    }

</div>

@code {
    [Parameter]
    public int ClientId { get; set; }

    private void NavigateToRenewalCreate()
    {
        NavigationManager.NavigateTo("/Clients/Create");
    }
}