@page "/Renewals"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor

@using Mantis.Domain.Policies.Models
@using Mantis.Domain.Policies.Services
@using Mantis.Domain.Renewals.Models
@using Mantis.Domain.Renewals.Services
@using Mantis.Domain.Users.Services

@inject PolicyService PolicyService
@inject RenewalService RenewalService
@inject UserService UserService

@rendermode InteractiveServer

<_toolbar />

<div class="page-content">
    <h1 class="renewalheader">Renewal Manager</h1>

    <div class="filter-section">
        <div>
            <FluentSelect TOption="ApplicationUser" Label="Assigned To" Items="@AssignedUsers" Id="assignedto-listbox" Placeholder="Everyone" @bind-Value="AssignedUserId" @bind-selectedOption="SelectedApplicationUser" />
        </div>
        <div>
            (MonthDropDown)
        </div>
        <div>
            (YearDropDown)
        </div>
    </div>

    <div class="homelist">
        <table class="table" style="font-size:1.25em;">
            <thead>
                <tr>
                    <th>Renewal</th>
                    <th><strong>Insured Name</strong></th>
                    <th>Policy Type</th>
                    <th>Carrier</th>
                    <th>MGA</th>
                    <th>ExpiringPolicyNumber</th>
                    <th>PolicyId</th>
                    <th>CSR</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in FilteredRenewals)
                {
                    <tr>
                        <td>@item.RenewalDate.ToShortDateString()</td>
                        <td><a href="/Renewals/@item.RenewalId">@item.Client?.Name</a></td>
                        <td>@item.Product?.LineNickname</td>
                        <td>@item.Carrier?.CarrierName</td>
                        <td>@item.Wholesaler?.CarrierName</td>
                        <td>@item.Policy?.PolicyNumber</td>
                        <td>@item.Policy?.PolicyId</td>
                        <td>@item.AssignedTo?.FirstName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private string SelectedAssignedUserId { get; set; }
    private string AssignedUserId { get; set; }
    private ApplicationUser SelectedApplicationUser { get; set; }
    private int? SelectedMonth { get; set; }
    private int? SelectedYear { get; set; }
    private List<Renewal> Renewals { get; set; } = new List<Renewal>();
    private List<ApplicationUser> AssignedUsers { get; set; } = new List<ApplicationUser>();
    private List<int> Months => Enumerable.Range(1, 12).ToList();
    private List<int> Years => Renewals.Select(p => p.RenewalDate.Year).Distinct().OrderBy(y => y).ToList();
    private List<Renewal> FilteredRenewals => Renewals
        .Where(p => string.IsNullOrEmpty(SelectedAssignedUserId) || p.AssignedToId == SelectedAssignedUserId)
        .Where(p => !SelectedMonth.HasValue || p.RenewalDate.Month == SelectedMonth.Value)
        .Where(p => !SelectedYear.HasValue || p.RenewalDate.Year == SelectedYear.Value)
        .ToList();

    protected override async Task OnInitializedAsync()
    {
        Renewals = await RenewalService.GetAllRenewalsAsync();
        AssignedUsers = await UserService.GetAllUsers();

        BreadcrumbService.UpdateBreadcrumb(new List<BreadcrumbItem>
        {
            new BreadcrumbItem { Text = "Home", Url = "/" },
            new BreadcrumbItem { Text = "Renewals" }
        });
    }
}
<style>
    h1 {
        margin-top:0px !important;
        padding-top: 0px !important;
    }
</style>