@page "/Renewals/Submisssions/{RenewalId:int}"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Mantis.Domain.Renewals.Models
@using Mantis.Domain.Renewals.ViewModels
@using Mantis.Domain.Renewals.Services
@using Mantis.Domain.Carriers.Services
@using Mantis.Domain.Carriers.Models

@inject RenewalService RenewalService

@rendermode InteractiveServer

@if(AllSubmissions != null) {
    @foreach (var item in AllSubmissions)
    {
        <div class="submissioncontainer">
            <div class="contentflex">
                @if (item.Wholesaler != null)
                {
                    <div class="carrier">
                        <div class="carriertitle">@item.Wholesaler.CarrierName</div>
                        <div class="contentflex">
                            <div>
                                @foreach (var contact in item.Wholesaler.Contacts)
                                {
                                    <div class="f-title">UNDERWRITER</div>
                                    <div class="f-txt">@contact.FirstName @contact.LastName</div>
                                    <div class="f-txt">@contact.Title</div>
                                    <div class="f-txt">@contact.Email</div>
                                    <div class="f-txt">@contact.Phone</div>
                                }
                            </div>
                            <div>
                                <div class="f-title">SUBMISSIONS</div>
                                <span class="f-txt"><a href="@item.Wholesaler.QuotingWebsite"><FluentIcon Value="@(new Icons.Regular.Size28.Globe())" Color="Color.FillInverse" /></a></span>
                                <span class="f-txt"><a href="mailto:@item.Wholesaler.NewSubmissionEmail"><FluentIcon Value="@(new Icons.Regular.Size28.Mail())" Color="Color.FillInverse" /></a></span>
                            </div>
                        </div>
                    </div>
                }
                @if (item.Carrier != null)
                {
                    <div class="carrier">
                        <span class="carriertitle">@item.Carrier.CarrierName</span><br />
                        @foreach (var contact in item.Carrier.Contacts)
                        {
                            <div class="f-title">UNDERWRITER</div>
                            <div class="f-txt">@contact.FirstName @contact.LastName</div>
                            <div class="f-txt">@contact.Title</div>
                            <div class="f-txt">@contact.Email</div>
                            <div class="f-txt">@contact.Phone</div>
                        }
                        @if (item.Carrier.QuotingWebsite != null && item.Carrier.NewSubmissionEmail != null)
                        {
                            <div class="f-title">SUBMISSIONS</div>
                            <span class="f-txt">@item.Carrier.QuotingWebsite</span>
                            <span class="f-txt">@item.Carrier.NewSubmissionEmail</span>
                        }
                    </div>
                }
                <div class="maincontent">
                    <span class="f-mtitle">Notes</span><br />
                    <FluentTextArea Value="@item.Notes" Style="width:100% !important;" />
                </div>
                <div class="mainpremium">
                    <span class="f-tpremium">PREMIUM</span><br />
                    <span class="f-mpremium">$15,267 @item.Premium</span>
                </div>
                
            </div>


            <div style="position:relative; top:15px; max-width:800px; margin-left:auto;">
                <SfStepper Orientation="StepperOrientation.Horizontal" LabelPosition="StepperLabelPosition.Bottom" ID="orientation-stepper" @bind-ActiveStep="@item.StatusInt" StepChanged="@(args => OnStepperValueChanged(args, item.StatusInt, item.SubmissionId))">
                    <StepperSteps>
                        <StepperStep IconCss="e-icons e-plus-icon" Label="Started"></StepperStep>
                        <StepperStep IconCss="e-icons e-pencil-icon" Label="Submitted"></StepperStep>
                        <StepperStep IconCss="e-icons e-changes-icon" Label="Underwriting"></StepperStep>
                        <StepperStep IconCss="e-icons e-send-icon" Label="Quoted"></StepperStep>
                        <StepperStep IconCss="e-icons e-signature-icon" Label="Proposed"></StepperStep>
                        <StepperStep IconCss="e-icons e-trash-icon" Label="Declined"></StepperStep>
                        <StepperStep IconCss="e-icons e-check-icon" Label="Accepted"></StepperStep>
                    </StepperSteps>
                </SfStepper>
            </div>
        </div>
        <div style="height:45px;"></div>
    }
}
else
{
    <p>Loading submissions...</p>
}

@if (AllCarriers != null)
{
    <div class="sf-newsubmission">
        <div class="sf-newsubmissionbox">
            <div class="subcol">
                <span class="tweaker">Start a New Submission</span>
            </div>
            <div class="subcol">
                <SfDropDownList TValue="int" TItem="Carrier" Placeholder="Select Carrier" DataSource="@AllCarriers" AllowFiltering="true" FloatLabelType="FloatLabelType.Auto" ShowClearButton="true" @bind-Value="SelectedCarrierId">
                    <DropDownListFieldSettings Value="CarrierId" Text="CarrierName"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>
            <div class="subcol">
                <SfDropDownList TValue="int" TItem="Carrier" Placeholder="Select Wholesaler" DataSource="@AllWholesalers" AllowFiltering="true" FloatLabelType="FloatLabelType.Auto" ShowClearButton="true" @bind-Value="SelectedWholsalerId">
                    <DropDownListFieldSettings Value="CarrierId" Text="CarrierName"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>
            <div class="subcol">
                <SfButton Content="Add Submission" CssClass="e-primary" OnClick="CreateSubmission" class="tweaker2"></SfButton>
            </div>
        </div>
    </div>
}
else
{
    <p>Loading carriers...</p>
}

<style>

    .tweaker2 {
        position: relative !important;
        top: 21px !important;
    }
    :root .e-stepper .e-stepper-progressbar {
        top:16px !important;
        height:3px;
    }
    :root .e-plus-icon::before {
        content: '\e805';
    }
    :root .e-pencil-icon::before {
        content: '\e740';
    }

    :root .e-pencil-icon::before {
        content: '\e740';
    }

    :root .e-changes-icon::before {
        content: '\e7a8';
    }

    :root .e-send-icon::before {
        content: '\e71d';
    }

    :root .e-trash-icon::before {
        content: '\e820';
    }

    :root .e-check-icon::before {
        content: '\e727';
    }

    :root .e-signature-icon::before {
        content: '\e897';
    }
</style>
@code {
    [Parameter]
    public int RenewalId { get; set; }

    [Parameter]
    public List<Carrier> AllCarriers { get; set; }

    [Parameter]
    public List<Carrier> AllWholesalers { get; set; }

    public List<Submission> AllSubmissions { get; set; }

    private int SelectedCarrierId { get; set; }
    private int SelectedWholsalerId { get; set; }

    public async Task CreateSubmission()
    {
        await RenewalService.CreateNewSubmissionAsync(RenewalId, SelectedCarrierId, SelectedWholsalerId);
        AllSubmissions = await RenewalService.GetSubmissionsByRenewalId(RenewalId);
        InvokeAsync(StateHasChanged);
    }
    protected override async Task OnInitializedAsync()
    {
        AllSubmissions = await RenewalService.GetSubmissionsByRenewalId(RenewalId);
    }
    private async Task OnStepperValueChanged(StepperChangedEventArgs args, int submissionStatusInt, int submissionId)
    {

        await RenewalService.UpdateSubmissionStatusAsync(args.ActiveStep, submissionId);
        await InvokeAsync(StateHasChanged);
    }
}
